<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler,Autofac.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <autofac>
    <components>
      <component type="CalcualtorLog.LogDb,CalcualtorLog"
                 service="CalcualtorLog.ILog,CalcualtorLog" />
    </components>
  </autofac>

  <appSettings>
    <add key="+" value="No_rz43_CalcualtorLib.Factorys.AddFactory" />
    <add key="-" value="No_rz43_CalcualtorLib.Factorys.SubFactory" />
    <add key="*" value="No_rz43_CalcualtorLib.Factorys.MulFactory" />
    <add key="/" value="No_rz43_CalcualtorLib.Factorys.DivFactory" />
    <add key="×" value="No_rz43_CalcualtorLib.Factorys.MulFactory" />
    <add key="÷" value="No_rz43_CalcualtorLib.Factorys.DivFactory" />
    <add key="calculatorlog" value="cal.log" />
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\BbiHH\Calculator_01\CalcualtorUI\Database1.mdf;Integrated Security=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>