<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <appSettings>
      <add key="+" value="No_rz43_CalcualtorLib.Factorys.AddFactory"/>
      <add key="-" value="No_rz43_CalcualtorLib.Factorys.SubFactory"/>
      <add key="*" value="No_rz43_CalcualtorLib.Factorys.MulFactory"/>
      <add key="/" value="No_rz43_CalcualtorLib.Factorys.DivFactory"/>
    </appSettings>
</configuration>